# Aliases

# IP addresses
alias external-ip='curl -4 icanhazip.com'
alias local-ip='ipconfig getifaddr en0'

# Folder aliases
alias home='~'
alias courses='~/www/courses'
alias github='~/www/github'
alias projects='~/www/projects'
alias temp='~/www/temp'

# Command aliases
alias bup='brew update; brew upgrade; brew cleanup; brew cu --all --yes --no-brew-update'
alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'
alias npm-up='npx npm-check-updates --dep prod,dev --upgrade --color --interactive'
alias npm-gup='npm update -g'
alias pnpm-up='pnpm up --latest -r -i'
alias bun-up='bunx npm-check-updates -i'
alias yarn-up='yarn upgrade-interactive --latest'
alias to-nvmrc='echo $(node -v) > .nvmrc'
alias vim='nvim'
alias vi='nvim'
alias pip='pip3'
alias python='python3'
alias dotfiles='code ~/www/dot/dotfiles'

# Show/hide hidden files in Finder
alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Lock the screen (when going away from keyboard)
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# Sleep
alias sleep='pmset sleepnow'
